<footer>

    <div class="footer-content">

        <div class="company">
            <!-- logo -->
            <a href="/">
                <img src="../../assets/svgs/grass.svg" alt="logo" aria-hidden="true" decoding="async" width="40" height="40">
            </a>

            <p>l"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <!-- social links -->
            <div class="social-links">
                <a href="#">
                   <img src="../../assets/svgs/logo-twitter.svg" alt="twitter logo" aria-hidden="true" decoding="async" width="40" height="40">
                </a>
                
                <a href="#">
                   <img src="../../assets/svgs/logo-instagram.svg" alt="instagram logo" aria-hidden="true" decoding="async" width="40" height="40">
                </a>

                <a href="#">
                   <img src="../../assets/svgs/logo-facebook.svg" alt="facebook logo" aria-hidden="true" decoding="async" width="40" height="40">
                </a>

            </div>
        </div>

        <!-- site links -->
        <div class="sitemap">
            <h3>Sitemap</h3>

            <div>
               <ul>
                   {% set navPages = collections.all | eleventyNavigation %}
                   <!-- Loop through all pages with a eleventyNavigation in the frontmatter -->
                   {% for entry in navPages %}

                       <li>
                           <a href="{{entry.url}}" class="{% if entry.url == page.url %} cs-active {% endif %}">{{entry.key}}</a>
                       </li>

                   {% endfor %}
               </ul>

               <a href="/contact" class="cs-button">Contact</a>

            </div>
        </div>

    </div>

</footer>