<header id="cs-navigation">

  <!-- logo -->
  <a href="/" aria-label="back to home" tabindex="1">
    <img src="../../assets/svgs/grass.svg" alt="logo" aria-hidden="true" decoding="async" width="20" height="20">
  </a>

  <!-- nav menu --> 
  <nav role="navigation">

    <div class="navigation" aria-expanded="false">
      <button class="close-nav-button">
        <img src="../../assets/svgs/close.svg" alt="close" aria-hidden="true" decoding="async" width="40" height="40">
      </button>

      <ul>
        {% set navPages = collections.all | eleventyNavigation %}
        <!-- Loop through all pages with a eleventyNavigation in the frontmatter -->
        {% for entry in navPages %}

          <li>
            <a href="{{entry.url}}" class="{% if entry.url == page.url %} cs-active {% endif %}">{{entry.key}}</a>
          </li>

        {% endfor %}
      </ul>

      <a href="/contact" class="cs-button">Contact</a>

    </div>

   <!-- close nav button -->
    <button class="open-nav-button" tabindex="2">
      <img src="../../assets/svgs/menu.svg" alt="open menu" aria-hidden="true" decoding="async" width="40" height="40">
    </button>
  </nav>

</header>