/* STYLES FOR THE ABOUT PAGE */

/* HERO SECTION */
#hero {
    padding: 0;
    img {
        border-radius: 10px;
    }
}
/* desktop */
@media only screen and (min-width: 1023px) {
    #hero {
        display: grid;
        grid-template-areas:
                "heading heading"
                "image text";
        grid-template-columns: 1fr 1fr;
        column-gap: 4em;
        row-gap: 1em;
        margin-top: 2em;

        h1 {
            grid-area: heading;

        }

        img {
            grid-area: image;
            max-width: 500px;

        }

        .cs-text {
            grid-area: text;
        }
    }
}

/* MY MISSION SECTION */
#my-mission {
    padding-bottom: 0;

    img {
        border-radius: 10px;
        max-width: 500px;
    }

    .cs-text {
        p {
            max-width: 500px;
        }
    }
}
/* desktop */
@media only screen and (min-width: 1023px) {
    #my-mission {
        display: grid;
        grid-template-areas:
                "heading image"
                "text image";
        grid-template-columns: 1fr 1fr;
        column-gap: 4em;
        
        h2 {
            grid-area: heading;
            margin-bottom: 0;
        }
        
        img {
            grid-area: image;
        }
        
        .cs-text {
            grid-area: text;
        }
    }   
}