/* STYLES FOR THE HOME PAGE */

/* get in touch link */
.cs-arrowlink {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid black; */
    width: max-content;
    gap: .3em;
    font-weight: 500;
    transition: all .3s;

    &:hover {
        gap: .5em;
        color: var(--primaryLight);
    }

    img {
        height: 20px;
        width: 20px;
        position: relative;
        top: 1px;
    }
}

/* HERO SECTION */
#hero {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #hero {
        flex-direction: row-reverse;
        justify-content: space-between;

        picture {
            max-width: 650px;
        }

        .hero-text {
            p {
                font-size: 1.1rem;
            }

            a {
                font-size: 1.2rem;

                img {
                    top: 2px;
                }
            }
        }
    }
}

/* SERVICES SECTION  */
#services {
    box-shadow: 0px 0px 12px 0px #d6d9db;
    ;
    border-radius: 10px;
    padding: 1em 0;
    max-width: 500px;

    h2 {
        text-align: center;
    }

    .services-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;

        .service-card {
            max-width: 300px;
            text-align: center;
            padding: 1em;
            border-radius: 10px;

            img {
                height: 50px;
                width: 50px;
            }
        }
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #services {
        box-shadow: none;
        max-width: 100%;

        h2 {
            margin-bottom: 2em;
        }

        .services-container {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 4em;

            .service-card {
                box-shadow: 0px 0px 12px 0px #d6d9db;
                padding: 3em 1.5em;

                img {
                    height: 80px;
                    width: 80px;
                }

                h3 {
                    margin-top: 1.5em;
                }
            }
        }
    }
}

/* ABOUT SECTION */
#about {
    .about-text {
        .cs-text {
            border-left: 2px solid black;
            font-size: 1.2rem;
            font-weight: 600;
            padding-left: .5em;
            margin-top: 1.5em;
        }
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #about {
        display: flex;
        justify-content: center;
        gap: 4em;
        margin: 10em auto;

        img {
            max-width: 500px;
        }

        .about-text {
            max-width: 450px;

            h2 {
                margin-top: 0;
            }

            a {
                font-size: 1.2rem;

                img {
                    top: 2px;
                }
            }
        }

    }
}
/* larger screens */
@media only screen and (min-width: 1200px) {
     #about {
        gap: 10em;
     }
}

/* SERVICE-INFO SECTION */
#service-info {
    box-shadow: 0px 0px 12px 0px #d6d9db;
    ;
    border-radius: 10px;
    padding: 2em;
    margin-top: 0;
    max-width: 500px;

    h2 {
        text-align: center;
        margin-top: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .info-block {
            img {
                display: none;
            }

            div {
                h3 {
                    padding-bottom: .5em;
                    width: max-content;
                    border-bottom: 1px solid var(--bodyTextColor);
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                    padding-left: 1em;
                    margin-top: 2em;
                }
            }
        }
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #service-info {
        box-shadow: none;
        max-width: 100%;

        h2 {
            margin-bottom: 3em;
        }

        .container {
            gap: 8em;
            align-items: center;
            max-width: 900px;
            margin: auto;

            .info-block {
                display: flex;
                justify-content: center;
                width: 100%;


                img {
                    display: initial;
                    max-width: 400px;
                    z-index: -1;
                    border-radius: 10px 0 0 10px;
                }

                div {
                    border-radius: 10px;
                    /* box-shadow: 0px 0px 12px 0px #d6d9db; */
                    width: 60%;
                    padding: 2em 4em;
                    background-color: var(--bodyTextColorWhite);
                    position: relative;
                    right: 20px;

                    h3 {
                        margin-top: 0;
                        width: 100%;
                    }
                }
            }

            .info-block:nth-last-of-type(2) {
                flex-direction: row-reverse;


                img {
                    border-radius: 0 10px 10px 0;
                }

                div {
                    left: 20px;
                    right: 0;
                }
            }
        }
    }
}

/* larger screen */
@media screen and (min-width: 1200px) {
    #service-info {
        .container {
            .info-block {
                position: relative;
                right: 100px;
            }

            .info-block:nth-last-of-type(2) {
                left: 100px;
            }
        }
    }
}