/* STYLES FOR THE HOME PAGE */

/* get in touch link */
.cs-arrowlink {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid black; */
    width: max-content;
    gap: .3em;
    font-weight: 500;
    transition: all .3s;

    &:hover {
        gap: .5em;
        color: var(--primary);
    }

    img {
        height: 20px;
        width: 20px;
        position: relative;
        top: 1px;
    }
}

/* HERO SECTION */
#hero {
    display: flex;
    flex-direction: column;
    padding-top: 0;

    picture {
        img {
            border-radius: 10px;
        }
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #hero {
        flex-direction: row-reverse;
        justify-content: space-between;

        picture {
            max-width: 650px;
        }

        .hero-text {
            p {
                font-size: 1.1rem;
            }

            a {
                font-size: 1.2rem;

                img {
                    top: 2px;
                }
            }
        }
    }
}

/* SERVICES SECTION  */
#services {
    box-shadow: 0px 4px 10px 0px var(--grey-200);
    ;
    border-radius: 10px;
    padding: 1em 0;
    max-width: 500px;

    h2 {
        text-align: center;
    }

    .services-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;

        .service-card {
            max-width: 300px;
            text-align: center;
            padding: 1em;
            border-radius: 10px;

            img {
                height: 50px;
                width: 50px;
            }
        }
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #services {
        box-shadow: none;
        max-width: 100%;

        h2 {
            margin-bottom: 2em;
        }

        .services-container {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 4em;

            .service-card {
                box-shadow: 0px 4px 10px 0px var(--grey-200);
                padding: 3em 1.5em;

                img {
                    height: 80px;
                    width: 80px;
                }

                h3 {
                    margin-top: 1.5em;
                }
            }
        }
    }
}

/* ABOUT SECTION */
#about {
    picture {
        img {
            border-radius: 10px;
        }
    }

    .about-text {
        .cs-text {
            border-left: 2px solid black;
            font-size: 1.2rem;
            font-weight: 600;
            padding-left: .5em;
            margin-top: 1.5em;
        }
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #about {
        display: flex;
        justify-content: center;
        gap: 4em;
        margin: 10em auto;

        img {
            max-width: 500px;
        }

        .about-text {
            max-width: 450px;

            h2 {
                margin-top: 0;
            }

            a {
                font-size: 1.2rem;

                img {
                    top: 2px;
                }
            }
        }

    }
}

/* larger screens */
@media only screen and (min-width: 1200px) {
    #about {
        gap: 10em;
    }
}

/* SERVICE-INFO SECTION */
#service-info {
    box-shadow: 0px 4px 10px 0px var(--grey-200);
    border-radius: 10px;
    padding: 2em;
    margin-top: 0;
    max-width: 500px;

    h2 {
        text-align: center;
        margin-top: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .info-block {
            img {
                display: none;
            }

            div {
                h3 {
                    padding-bottom: .5em;
                    width: max-content;
                    border-bottom: 1px solid var(--grey-100);
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                    padding-left: 1em;
                    margin-top: 2em;


                }
            }
        }
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #service-info {
        box-shadow: none;
        max-width: 100%;

        h2 {
            margin-bottom: 3em;
        }

        .container {
            gap: 10em;
            align-items: center;
            max-width: 900px;
            margin: auto;

            .info-block {
                display: flex;
                justify-content: center;
                width: 100%;


                img {
                    display: initial;
                    max-width: 400px;
                    z-index: -1;
                    border-radius: 10px 0 0 10px;
                }

                div {
                    border-radius: 10px;
                    /* box-shadow: 0px 4px 10px 0px var(--grey-200); */
                    width: 60%;
                    padding: 2em 4em;
                    background-color: var(--primary-900);
                    position: relative;
                    right: 20px;
                    color: var(--grey-100);

                    h3 {
                        margin-top: 0;
                        width: 100%;
                    }

                    ul {
                        li {
                            font-size: 1.15rem;
                        }
                    }
                }
            }

            .info-block:nth-last-of-type(2) {
                flex-direction: row-reverse;


                img {
                    border-radius: 0 10px 10px 0;
                }

                div {
                    left: 20px;
                    right: 0;
                }
            }
        }
    }
}

/* larger screen */
@media screen and (min-width: 1200px) {
    #service-info {
        .container {
            .info-block {
                position: relative;
                right: 150px;
            }

            .info-block:nth-last-of-type(2) {
                left: 150px;
            }
        }
    }
}

/* GALLERY STYLES */
#gallery {
    position: relative;

    .image-container {
        margin-top: 2em;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        max-width: 1200px;

        img {
            border-radius: 10px;
        }
    }

    /* figure out current image size* */

    .image-viewer {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.541);
        top: 0;
        height: 1000px;
        width: 110%;
        /* padding: 5em; */

        .current-image {

            width: 90%;
            height: 90%;
            margin: auto;

            img {
                width: 100%;
                height: auto;
            }

        }

        .arrow-left,
        .arrow-right,
        .close-viewer {
            height: 30px;
            width: 30px;
            border: none;
            /* background-color: none; */

        }

        .arrow-left {
            transform: rotate(.25turn);
        }

        .arrow-right {
            transform: rotate(.75turn);
        }
    }

    .show-viewer {
        display: block;
        z-index: 10;
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #gallery {
        h2 {
            text-align: center;
        }

        .image-container {

            margin: auto;
            margin-top: 4em;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "image1 image1 image2 image3"
                "image1 image1 image4 image3";

            img {
                height: 100%;
            }

            img:nth-of-type(1) {
                grid-area: image1;
            }

            img:nth-of-type(2) {
                grid-area: image2;
            }

            img:nth-of-type(3) {
                grid-area: image3;
            }

            img:nth-of-type(4) {
                grid-area: image4;
            }
        }
    }

}



/* TESTIMONIALS SECTION */
#testimonials {
    h2+p {
        max-width: 400px;
    }

    .testimonials-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        justify-items: center;
        max-width: 900px;
        margin: auto;
        margin-top: 4em;

        .testimonial {
            max-width: 260px;
            box-shadow: 0px 4px 10px 0px var(--grey-200);
            border-radius: 10px;

            p {
                /* background-color: #eeebeb; */
                margin: 0;
                padding: 1.4em;
                border-radius: 10px 10px 0 0;
            }

            .client {
                background-color: var(--grey-100);
                /* border-top: 1px solid var(--primary); */
                display: flex;
                flex-direction: column;
                gap: .7em;
                padding: 1.2em 1.7em;
                /* color: var(--bodyTextColorWhite); */
                border-radius: 0 0 10px 10px;
                font-weight: 500;
            }
        }
    }
}

/* tablet */
@media only screen and (min-width: 700px) {
    #testimonials {

        .testimonials-container {
            gap: 3em;
            grid-template-areas: "div1 div2"
                "div3 div3";
            grid-template-columns: 1fr 1fr;
            margin-top: 5em;

            .testimonial:nth-of-type(1) {
                grid-area: div1;
                justify-self: end;
            }

            .testimonial:nth-of-type(2) {
                grid-area: div2;
                justify-self: start;
            }

            .testimonial:nth-of-type(3) {
                grid-area: div3;
            }
        }
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #testimonials {

        h2,
        h2+p {
            text-align: center;
        }

        h2+p {
            margin: auto;
        }

        .testimonials-container {
            grid-template-areas: "div1 div2 div3";
            grid-template-columns: 1fr 1fr 1fr;

            .testimonial:nth-of-type(1) {
                justify-self: center;
                position: relative;
                top: 40px;
            }

            .testimonial:nth-of-type(2) {
                justify-self: center;
            }

            .testimonial:nth-of-type(3) {
                position: relative;
                top: 40px;
            }
        }
    }

}