/* Core Styles */

/* GENERAL STYLES AND FONTS */
:root {
    /* colors */
    --primary: #1e76b1;
    --primary-100: rgb(211, 235, 245);
    --primary-300: #87b1ce;
    --primary-700: #2f5b79;
    --primary-900: #2c3c42;
    --accentBlue: #3890c7;
    --secondary: #B5714A;
    --secondaryLight: #001f3f;
    --grey-50: rgb(253, 253, 253);
    --grey-100: rgb(242, 246, 247);
    --grey-300: rgb(187, 199, 204);
    --grey-200: rgb(221, 230, 238);
    --grey-500: rgb(163, 163, 163);
    --grey-700: #404040;
    --grey-900: rgb(33, 34, 35);
    --headerColor: #1a1a1a;
    --bodyTextColor: #404040;
    --bodyTextColorWhite: #fafbfc;
    --backgroundColorDark: #191b1c;

    /* primary, accent, grays */

    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 4.2vw, 3.5rem);
    --bodyFontSize: 1rem;

    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    color: var(--grey-700);
}

body {
    margin: 0;
    background-color: var(--grey-50);
}

header,
section,
.footer-content {
    width: 90%;
    margin: auto;
}

section {
    padding: 2em 0;
    margin: 2em auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', system-ui;
}

h1 {
    font-size: var(--headerFontSize);
    font-weight: 900;
}

h2 {
    font-size: clamp(1.5rem, 3.5vw, 2rem);
}

a {
    text-decoration: none;
    color: var(--grey-900);
    padding-bottom: .2em;


}

/* nav link hover */
li {
    a {
        &:hover {
            border-bottom: 2px solid var(--primary);
        }
    }
}


img {
    width: 100%;
    height: auto;
}

.cs-active {
    border-bottom: 2px solid var(--primary);
}

/* buttons */
button {
    cursor: pointer;
}

.cs-button {
    padding: .2em 1em .3em 1em;
    background-color: var(--primary);
    /* border: 1px solid var(--primary); */
    border-radius: 10px;
    font: inherit;
    color: var(--grey-100);

    &:hover {
        background-color: var(--primary-700);
        
    }
}

/* tablet general styles */
@media only screen and (min-width: 700px) {
    section {
        width: 80%;
        margin: 4em auto;
    }
}

/* desktop general styles */
@media only screen and (min-width: 1023px) {
    section {
        width: 95%;
        max-width: 1400px;
        margin: 7em auto;
    }
}

/* NAV STYLES */
#cs-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;

    nav {

        button {
            background: none;
            border: none;
            padding: 0;
        }

        .navigation {
            position: fixed;
            padding: 1em;
            top: 0;
            right: -999px;
            z-index: -100;
            background-color: var(--primary-900);
            height: 100vh;
            width: 55vw;
            transition: .5s all;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;


            .close-nav-button {
                align-self: flex-end;
                height: 50px;
                width: 50px;
            }

            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 1.2em;

                li {
                    a {
                        text-decoration: none;
                        color: var(--grey-100);
                        font-weight: 500;
                        font-size: 1.1rem;
                    }
                }
            }

            .cs-button {
                color: var(--grey-100);
            }
        }

        .show-menu {
            right: 0;
            z-index: 100;
        }
    }
}

/* desktop nav */
@media only screen and (min-width: 1023px) {
    #cs-navigation {
        padding-top: 1.6em;

        nav {

            .open-nav-button {
                display: none;
            }

            .navigation {
                position: static;
                height: auto;
                width: auto;
                background-color: inherit;
                color: var(--grey-900);
                flex-direction: row;
                gap: 6em;
                padding: 0;

                ul {
                    flex-direction: row;
                    gap: 1.8em;

                    li {
                        a {
                            color: inherit;
                            font-weight: 400;
                        }
                    }
                }

                .close-nav-button {
                    display: none;
                }
            }
        }
    }
}

/* CTA */
#cta {
    padding: 4em 0;
    text-align: center;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    /* box-shadow: 0px 0px 10px 0px var(--grey-100); */
    border-radius: 10px;
    background-color: var(--primary-900);
    /* width: 100%; */
    max-width: 800px; 
    /* background-image: url(../images/snow.jpg);
    background-size: cover;
    background-repeat: no-repeat;  */

    h2 {
        margin-top: 0;
        margin-bottom: 1em;
        color: var(--grey-100);

    }

    .cs-button {
        padding: .7em .9em .8em .9em;
    }
}
/* desktop */
@media only screen and (min-width: 1023px) {
    #cta {
         padding: 6em 0;
         margin-top: 10em;
         margin-bottom: 10em;
       
    }
}

/* FOOTER STYLES */
footer {
    padding: 2em 0;
    background-color: var(--grey-900);
    color: var(--grey-100);

    .footer-content {

        display: flex;
        flex-direction: column;
        gap: 1.5em;

        .company {
            max-width: 500px;

            a {
                img {
                    height: 50px;
                    width: 50px;
                }
            }

            .social-links {
                display: flex;
                gap: .6em;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }


        .sitemap {

            h3 {
                font-size: 1rem;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 2em;

                display: flex;
                flex-direction: column;
                gap: .7em;



                li {
                    a {
                        color: inherit;
                    }
                }
            }
        }
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    footer {
        padding: 2.5em 0 3.5em 0;
        display: flex;
        min-height: 300px;

        .footer-content {
            flex-direction: row;
            justify-content: space-between;

            .sitemap {
                align-self: center;

                /* h3 {
                    margin: 0;
                } */

                div {
                    display: flex;
                    gap: 2em;


                    ul {
                        flex-direction: row;
                        margin: 0;
                        gap: 1.6em;
                        align-items: center;

                    }

                    .cs-button {
                        align-self: center;
                    }
                }

            }
        }
    }
}