/* STYLES FOR THE SERVICES PAGE */

/* HERO STYLES */
#hero {
    padding: 0;
}

/* SERVICES STYLES */
#services {
    margin-top: 0;

    .service-card {
        box-shadow: 1px 1px 1px 1px rgb(209, 208, 208);
        border-radius: 10px;
        padding: 1.5em;
        max-width: 350px;
        margin: auto;

        img {
            /* max-width: 400px; */
            border-radius: 10px;
        }

        .service-text {
            ul {
                display: flex;
                flex-direction: column;
                gap: .5em;

                li {
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
        }
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #services {
        .service-card {
            max-width: 100%;
            display: grid;
            grid-template-areas:
                "heading heading"
                "image text";
            grid-template-columns: 1fr 1fr;
            column-gap: 3em;
            row-gap: 1.5em;
            padding: 3em;

            h3 {
                grid-area: heading;
                font-size: 1.4rem;
                margin-top: 0;
            }

            img {
                grid-area: image;
            }

            .service-text {
                grid-area: text;

                h4 {
                    font-size: 1.6rem;
                }

                ul {
                    margin-bottom: 4em;

                    li {
                        font-size: 1.5rem;
                    }
                }

                p {
                    font-size: 1.15rem;
                }
            }
        }
    }
}

/* WHAT TO EXPECT */
#what-to-expect {
    padding: 1em 0;

    p {
        max-width: 700px;
    }
}

/* FAQ STYLES */
#faq {
    padding: 0;

    h2 {
        text-align: center;
        margin-bottom: 1.5em;
    }

    .faq-container {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        max-width: 700px;
        margin: auto;

        .faq-item {
            position: relative;
            border: 1px solid rgb(199, 197, 197);
            border-radius: 10px;
            padding: 1em;
            cursor: pointer;

            img {
                height: 25px;
                width: 25px;
                position: absolute;
                right: 5px;
            }

            button {
                border: none;
                background-color: inherit;
                font: inherit;
                font-weight: 500;

            }

            p {
                width: 92%;
                margin-left: 1em;
            }

        }
    }
}

/* desktop */
@media only screen and (min-width: 1023px) {
    #faq {

        h2 {
            margin-bottom: 2em;
        }

        /* .faq-container {
            gap: 2.5em;
        } */
    }
}

.hidden {
    display: none;
}

.rotate {
    transform: rotate(0.5turn);
}