/* STYLES FOR THE SERVICES PAGE */

/* HERO STYLES */
#hero {
    padding: 0;
}
/* SERVICES STYLES */
#services {
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(209, 208, 208);
    margin-top: 0;
    padding: 1em;
}

/* WHAT TO EXPECT */
#what-to-expect{
    padding: 1em 0;
}

/* FAQ STYLES */
#faq {
    padding: 0;

    .faq-container {
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        .faq-item {
            position: relative;
            border: 1px solid rgb(199, 197, 197);
            border-radius: 10px;
            padding: 1em;
            cursor: pointer;

            img {
                height: 25px;
                width: 25px;
                position: absolute;
                right: 5px;
            }

            button {
                border: none;
                background-color: inherit;
                font: inherit;
                font-weight: 500;

            }

        }
    }
}

.hidden {
  display: none;
}

.rotate {
    transform: rotate(0.5turn);
}